h1 {
    background-color: gray;
    font-weight: bold;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header {
    color: blue;
}

.menuOptions {    
    text-align: right;
}