h1 {
    background-color: aqua;
    font-weight: bold;
    text-align: center;
}

table {
    text-align: right;
}

.header {
    color: blue;
}

.menuOptions {
    text-align: center;
    padding: 50px;
}