<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Blogster Entry</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <h1>New Blogster Entry</h1>
    
        <form action="/blogEntries/create" method="POST">
            <!-- Partial view of a form that is being used by Create and Edit -->
            <%- include('partial-form-fields') %>
            
        </form>
    </div>

</body>
</html>