<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Blogster Entry</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <h1>Delete Your Entries!</h1>
        <a class="cancelButton" href="/">Cancel</a>
    </div>

</body>
</html>