<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete a Blogster Entry</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <h1>Delete</h1>
        <h3> Are you sure you want to delete?</h3>
        <a class="cancelButton" href="/">Cancel</a>
    </div>

</body>
</html>