<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Blogster Entry</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <h1>Edit Your Entries!</h1>
        <a class="cancelButton" href="/">Cancel</a>
        
        <h3>Enter the ID number of the Blogster Entry you wish to update, along with the edited title or blog.</h3>
        <form action="/blogEntries/edit" method="POST">
            <div class="formFields">
                <label for="idnumber">ID Number</label>
                <input type="number" name="idnumber" id="idnumber" required>
            </div>
              <!-- Partial view of a form that is being used by Create and Edit -->
            <%- include('partial-form-fields') %>
        </form>
    </div>

</body>
</html>