<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Blogster Entry</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <h1 class="headerBar">Edit Your Entry!</h1>
        
        <h3>Update the title or the body of your Blogster entry!</h3>
        <form action="/blogEntries/edit" method="POST">
            <div class="formFields">
                <label for="editidnumber">ID Number</label>
                <input type="number" name="editidnumber" id="editidnumber" value="<%=currentEntry.paramOne%>" required>
            </div>
            <div class="formFields">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<%=currentEntry.title%>" required>
            </div>
            <div class="formFields">
                <label for="blog">Blog</label>
                <textarea type="text" name="blog" id="blog" required><%=currentEntry.blog%></textarea>
            </div>
            <button class="submitButton" type="submit">Submit Update</button>
            <button class="submitButton" type="reset">Revert to Original</button>
            <br/>
            <a class="cancelButton" href="/blogEntries/read">Cancel</a>
        </form>
    </div>

</body>
</html>