<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogster!</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">

        <section class="one">
            <div class="sectionContent">
                <h1>Welcome to Blogster!</h1>
                <p class="menuOptions">
                    <a href="/blogEntries/create" class="buttons">Create an Entry</a>
                </p>
                <p class="menuOptions">
                    <a href="/blogEntries/read" class="buttons">Read your Entries</a>
                </p>
                <p class="menuOptions">
                    <a href="/blogEntries/edit" class="buttons">Edit an Entry</a>
                </p>
                <p class="menuOptions">
                    <a href="/blogEntries/delete" class="buttons">Delete an Entry</a>
                </p>
            </div>
        </section>    
    </div>
</body>
</html>