<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogster</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="./main.js" ></script>
</head>

<body>    
    <div class="box">

        <section class="one">
            <div class="sectionContent">
                <h1>Welcome to Blogster!</h1>
                <p class="menuOptions">
                    <a href="/blogEntries/create" onclick="test()" class="buttons">Create an Entry</a>
                </p>
                <p class="menuOptions">
                    <a href="/blogEntries/read" class="buttons">Read your Entries</a>
                </p>
                <p class="menuOptions">
                    <a href="/blogEntries/update" class="buttons">Edit an Entry</a>
                </p>
                <p class="menuOptions">
                    <a href="/blogEntries/delete" class="buttons">Delete an Entry</a>
                </p>
            </div>
        </section>

        <section class="two">
            <% blogEntries.forEach(entry => { %>
                <div class="entryContainer">
                    <div class="entryBody">
                        <h3 class="blogTitle">
                            <%= entry.title %>
                        </h3>
                        <h4 class="blogDate">
                            <%= entry.date %>
                        </h4>
                        <h5 class="blogText">
                            <%= entry.body %>
                        </h5>
                    </div>
                </div>
            <% }); %>
        </section>
    
        <section class="three">
            <div class="blogForm">
                <h4>Create a blog entry by giving it a title and entering your blog in the "Body" text box.</h4>
                <form action="message" method="post">

                    <div>
                        <label>Title:</label>
                        <input type="text" name="title">
                    </div>

                    <div>
                        <label>Body:</label>
                        <input type="text" name="text">
                    </div>

                    <button type="submit" id="testing">Send</button>

                </form>
            </div>
        </div>
</div>
</body>
</html>