<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Blogster Entry</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <h1>Read Your Entries!</h1>
        <a class="cancelButton" href="/">Back to Homepage</a>
        <section class="two">
            <% blogEntries.slice().reverse().forEach(entry => { %>
                <div class="entryContainer">
                    <div class="entry">
                        <h2 class="blogTitle">
                            <%= entry.title %>
                        </h2>
                        <div class="entrySubsection">
                        <h4 class="blogDate">
                            <%= entry.dateCreated %>
                        </h4>
                        </div>
                        <div class="entrySubsection">
                        <h5 class="blogBody">
                            <%= entry.blog %>
                        </h5>
                        <form action="/blogEntries/read" method="POST">
                            <label for="editidnumber"></label>
                            <input type="number" name="editidnumber" id="editidnumber" value="<%=entry.paramOne%>" required>
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/blogEntries/delete" method="GET">
                            <button type="submit">Delete</button>
                        </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </section>
    </div>

</body>
</html>