<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Blogster Entry</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <h1 class="headerBar">Read Your Entries!</h1>
        <a class="cancelButton" href="/">Back to Homepage</a>
        <section class="allEntries">
            <% blogEntries.slice().reverse().forEach(entry => { %>
                <div class="entryContainer">
                    <div class="entry">
                        <h2 class="blogTitle">
                            <%= entry.title %>
                        </h2>
                        <div>
                            <h4 class="blogDate">
                                <%= entry.dateCreated %>
                            </h4>
                        </div>
                        <div>
                            <h5 class="blogBody">
                                <%= entry.blog %>
                            </h5>
                            <form class="readForm" action="/blogEntries/edit" method="GET">
                                <label for="editidnumber"></label>
                                <input type="number" name="editidnumber" id="editidnumber" value="<%=entry.paramOne%>" hidden>
                                <button class="submitButton" type="submit">Edit</button>
                            </form>
                            <form class ="readForm" action="/blogEntries/delete" method="GET">
                                <button class="cancelButton" type="submit">Delete</button>
                            </form>
                        </div>
                        <div class="entrySeparator"></div>
                    </div>
                </div>
            <% }); %>
        </section>
    </div>

</body>
</html>