<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <div class="entryContainer">
            <h1 class="headerBar">Operation Successful!</h1>
            <a class="submitButton "href="/blogEntries/read">Back to Entries</a>
            <a class="cancelButton" href="/">Back to Homepage</a>
        </div>
    </div>

</body>
</html>