<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>    
    <div class="box">
        <h1>Operation Successful!</h1>
        <h2>Your operation was successful!</h2>
        <a href="/blogEntries/read">Back to Entries</a>
        <a class="cancelButton" href="/">Back to Homepage</a>
    </div>

</body>
</html>